@import url('https://fonts.googleapis.com/css?family=Coiny');

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.8;
}

h1 { 
  font-size: 500%; 
}

h5 {
  color: #ffd700;
  font-weight: bold;
}

header {
  width: 100%;
  margin: 0;
  min-height: 60px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*
  font-family: Coiny, sans-serif;
  font-size: 4vh;
  line-height: 2em; */
}

.logo a img {
  /* width: 200px; */
  height: 70px;
  max-height: 15vw;
}

.logo a:hover {
  color: #ddd;
}


.topnav {
  font-family: Arial, sans-serif;
  font-size: 0.5em;
  color: white;
  padding-top: 2vw;
  opacity: 0.8;
}

<<<<<<< HEAD
header div {
  border: 1px solid white;
}

.topnav img {
  width: 10px;
  height: 10px;
=======
.topnav img {
  width: 15px;
  height: 15px;
>>>>>>> refs/remotes/origin/master
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/tim-rodgers-portfolio-2000x1500.jpg");
  height: 100%;
  background-position: 65% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  /* font-size: 3vh; */
}

.hero-text button {
  border: 1px solid #ddd;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.hero-text button:hover {
  background: none;
  color: #fff;
}

#bio {
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding-top: 2em;
}

#bio .body {
  text-align: left;
  padding: 2em 2em 2em 4em;
}

#portfolio {
  background-color: rgb(241, 231, 137);
  background-color: rgba(241, 231, 137, 0.5);
  width: 100%;
}

#portfolio .container {
  width: 100%;
}

.pf-image {
  display: block;
  width: 100%;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-position: center top;
  background-size: 100% auto;
}

#setfree {
  background-image: url('images/portfolio/setfree-home.jpeg');
}

#dsparks {
  background-image: url('images/portfolio/dsparks.jpg');
}

#newlife {
  background-image: url('images/portfolio/newlife.png');
}

footer {
  min-height: 100px;
  width: 100%;
  margin: 0;
  min-height: 70px;
  background-color: #222;
  color: white;
  line-height: 2em;
  padding-top: 2%;
}

footer .container {
  width: 80%;
}

footer .logo a {
  color: #111;
  font-family: Coiny, sans-serif;
  font-size: 8vh;
}

footer .logo a:hover {
  color: #666;
}

#menu-footer {
  color: white;
}

#menu-footer ul, #menu-footer ul li {
  margin-left: -40px;
  padding-left: -40px;
  list-style: none;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}

.social {
  display: block;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  background-image: url('images/social-icons.jpg');
  background-size: 1000%;
}

.facebook {
  background-position: -280px -55px;
}

.instagram {
  background-position: -170px -55px;
}

.twitter {
  background-position: -55px -55px;
}

.linkedin {
  background-position: -280px -278px;
}