@import url('https://fonts.googleapis.com/css?family=Coiny');

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 { font-size: 500%; }
.hasBorder {border: 1px solid yellow}

header {
  width: 100%;
  margin: 0;
  min-height: 70px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: Coiny, sans-serif;
  font-size: 4vh;
  line-height: 2em;
}

.logo a {
  display: inline-block;
  /* float: left; */
  text-decoration: none;
  color: #fff;
}

.logo a:hover {
  color: #ddd;
  text-decoration: none;
}


#menu {
  display: inline-block;
  float: right;
  bottom: -40px;
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("largeformatslider20x30.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  /* font-size: 3vh; */
}

.hero-text button {
  border: 1px solid #ddd;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.hero-text button:hover {
  /* background-color: #555; */
  background: none;
  color: #fff;
}

#bio {
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding-top: 2em;
}

#portfolio {
  background-color: rgb(241, 231, 137);
  background-color: rgba(241, 231, 137, 0.5);
  width: 100%;
}

#portfolio .container {
  width: 80%;
}

#portfolio > div > div > div {
  color: #000;
  text-align: center;
  vertical-align: middle;
  padding-top: 4em;
  min-height: 40vh;
  padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
  #portfolio > div > div > div:first-child, 
  #portfolio > div > div > div:nth-child(2) {
    border-bottom: 2px solid black;
  }
}

footer {
  min-height: 100px;
  width: 100%;
  margin: 0;
  min-height: 70px;
  background-color: #222;
  color: white;
  line-height: 2em;
  padding-top: 2%;
}

footer .container {
  width: 80%;
}

footer .logo a {
  color: #111;
  font-family: Coiny, sans-serif;
  font-size: 8vh;
}

footer .logo a:hover {
  color: #666;
  text-decoration: none;
}

#menu-footer {
  color: white;
}

#menu-footer ul, #menu-footer ul li {
  margin-left: -40px;
  padding-left: -40px;
  list-style: none;
  padding-inline-start: 0;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 0;
  background-image: url('social-icons.jpg');
  background-size: 1000%;
}

.facebook {
  background-position: -280px -55px;
}

.instagram {
  background-position: -170px -55px;
}

.twitter {
  background-position: -55px -55px;
}

.linkedin {
  background-position: -280px -278px;
}